<% provide(:title, "Edit user") %>

<div class="st-menu st-effect-1" id="menu-1">
	<div class="row">
		<h2>Update your profile</h2>
		<div class="span2 offset1" id="edit-profile">
			<%= form_for @user do |f| -%>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :name, "Name" %>
			<%= f.text_field :name %>
			<%= f.label :email, "Email" %>
			<%= f.text_field :email %>
			<%= f.label :password, "Password" %>
			<%= f.password_field :password %>
			<%= f.label :password_confirmation, "Confirm Password" %>
			<%= f.password_field :password_confirmation %>
			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
			<% end -%>
			<%= gravatar_for @user %>
			<a href="http://gravatar.com/emails">change</a>
		</div>
	</div>
</div>